/**
 * Don't use this file for your own styles.
 * This file is for global styles that are used across the entire site.
 * If you want to add styles to a specific page, use the page's +page.svelte file.
 * If you want to add styles to a specific component, use the component's +component.svelte file.
 */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

body {
  margin: 0;
  padding: 0;
}


/**
 * Color pallete
 * Sourced from: https: //tailwindcss.com/docs/customizing-colors
 * 
 */
:root {
  --c-black: #000;
  --c-white: #fff;

  --c-slate-50:  #f8fafc;
  --c-slate-100: #f1f5f9;
  --c-slate-200: #e2e8f0;
  --c-slate-300: #cbd5e1;
  --c-slate-400: #94a3b8;
  --c-slate-500: #64748b;
  --c-slate-600: #475569;
  --c-slate-700: #334155;
  --c-slate-800: #1e293b;
  --c-slate-900: #0f172a;
  --c-slate-950: #020617;

  --c-gray-50:  #f9fafb;
  --c-gray-100: #f3f4f6;
  --c-gray-200: #e5e7eb;
  --c-gray-300: #d1d5db;
  --c-gray-400: #9ca3af;
  --c-gray-500: #6b7280;
  --c-gray-600: #4b5563;
  --c-gray-700: #374151;
  --c-gray-800: #1f2937;
  --c-gray-900: #111827;
  --c-gray-950: #030712;

  --c--zinc-50:  #fafafa;
  --c--zinc-100: #f4f4f5;
  --c--zinc-200: #e4e4e7;
  --c--zinc-300: #d4d4d8;
  --c--zinc-400: #a1a1aa;
  --c--zinc-500: #71717a;
  --c--zinc-600: #52525b;
  --c--zinc-700: #3f3f46;
  --c--zinc-800: #27272a;
  --c--zinc-900: #18181b;
  --c--zinc-950: #09090b;

  --c-neutral-50:  #fafafa;
  --c-neutral-100: #f5f5f5;
  --c-neutral-200: #e5e5e5;
  --c-neutral-300: #d4d4d4;
  --c-neutral-400: #a3a3a3;
  --c-neutral-500: #737373;
  --c-neutral-600: #525252;
  --c-neutral-700: #404040;
  --c-neutral-800: #262626;
  --c-neutral-900: #171717;
  --c-neutral-950: #0a0a0a;

  --c-stone-50:  #fafaf9;
  --c-stone-100: #f5f5f4;
  --c-stone-200: #e7e5e4;
  --c-stone-300: #d6d3d1;
  --c-stone-400: #a8a29e;
  --c-stone-500: #78716c;
  --c-stone-600: #57534e;
  --c-stone-700: #44403c;
  --c-stone-800: #292524;
  --c-stone-900: #1c1917;
  --c-stone-950: #0c0a09;

  --c-red-50: #fef2f2;
  --c-red-100: #fee2e2;
  --c-red-200: #fecaca;
  --c-red-300: #fca5a5;
  --c-red-400: #f87171;
  --c-red-500: #ef4444;
  --c-red-600: #dc2626;
  --c-red-700: #b91c1c;
  --c-red-800: #991b1b;
  --c-red-900: #7f1d1d;
  --c-red-950: #450a0a;

  --c-orange-50:  #fff7ed;
  --c-orange-100: #ffedd5;
  --c-orange-200: #fed7aa;
  --c-orange-300: #fdba74;
  --c-orange-400: #fb923c;
  --c-orange-500: #f97316;
  --c-orange-600: #ea580c;
  --c-orange-700: #c2410c;
  --c-orange-800: #9a3412;
  --c-orange-900: #7c2d12;
  --c-orange-950: #431407;

  --c-amber-50:  #fffbeb;
  --c-amber-100: #fef3c7;
  --c-amber-200: #fde68a;
  --c-amber-300: #fcd34d;
  --c-amber-400: #fbbf24;
  --c-amber-500: #f59e0b;
  --c-amber-600: #d97706;
  --c-amber-700: #b45309;
  --c-amber-800: #92400e;
  --c-amber-900: #78350f;
  --c-amber-950: #451a03;

  --c-yellow-50:  #fefce8;
  --c-yellow-100: #fef9c3;
  --c-yellow-200: #fef08a;
  --c-yellow-300: #fde047;
  --c-yellow-400: #facc15;
  --c-yellow-500: #eab308;
  --c-yellow-600: #ca8a04;
  --c-yellow-700: #a16207;
  --c-yellow-800: #854d0e;
  --c-yellow-900: #713f12;
  --c-yellow-950: #422006;

  --c-lime-50:  #f7fee7;
  --c-lime-100: #ecfccb;
  --c-lime-200: #d9f99d;
  --c-lime-300: #bef264;
  --c-lime-400: #a3e635;
  --c-lime-500: #84cc16;
  --c-lime-600: #65a30d;
  --c-lime-700: #4d7c0f;
  --c-lime-800: #3f6212;
  --c-lime-900: #365314;
  --c-lime-950: #1a2e05;

  --c-green-50:  #f0fdf4;
  --c-green-100: #dcfce7;
  --c-green-200: #bbf7d0;
  --c-green-300: #86efac;
  --c-green-400: #4ade80;
  --c-green-500: #22c55e;
  --c-green-600: #16a34a;
  --c-green-700: #15803d;
  --c-green-800: #166534;
  --c-green-900: #14532d;
  --c-green-950: #052e16;

  --c-emerald-50:  #ecfdf5;
  --c-emerald-100: #d1fae5;
  --c-emerald-200: #a7f3d0;
  --c-emerald-300: #6ee7b7;
  --c-emerald-400: #34d399;
  --c-emerald-500: #10b981;
  --c-emerald-600: #059669;
  --c-emerald-700: #047857;
  --c-emerald-800: #065f46;
  --c-emerald-900: #064e3b;
  --c-emerald-950: #022c22;

  --c-teal-50:  #f0fdfa;
  --c-teal-100: #ccfbf1;
  --c-teal-200: #99f6e4;
  --c-teal-300: #5eead4;
  --c-teal-400: #2dd4bf;
  --c-teal-500: #14b8a6;
  --c-teal-600: #0d9488;
  --c-teal-700: #0f766e;
  --c-teal-800: #115e59;
  --c-teal-900: #134e4a;
  --c-teal-950: #042f2e;

  --c-cyan-50: #ecfeff;
  --c-cyan-100: #cffafe;
  --c-cyan-200: #a5f3fc;
  --c-cyan-300: #67e8f9;
  --c-cyan-400: #22d3ee;
  --c-cyan-500: #06b6d4;
  --c-cyan-600: #0891b2;
  --c-cyan-700: #0e7490;
  --c-cyan-800: #155e75;
  --c-cyan-900: #164e63;
  --c-cyan-950: #083344;

  --c-sky-50:  #f0f9ff;
  --c-sky-100: #e0f2fe;
  --c-sky-200: #bae6fd;
  --c-sky-300: #7dd3fc;
  --c-sky-400: #38bdf8;
  --c-sky-500: #0ea5e9;
  --c-sky-600: #0284c7;
  --c-sky-700: #0369a1;
  --c-sky-800: #075985;
  --c-sky-900: #0c4a6e;
  --c-sky-950: #082f49;

  --c-blue-50:  #eff6ff;
  --c-blue-100: #dbeafe;
  --c-blue-200: #bfdbfe;
  --c-blue-300: #93c5fd;
  --c-blue-400: #60a5fa;
  --c-blue-500: #3b82f6;
  --c-blue-600: #2563eb;
  --c-blue-700: #1d4ed8;
  --c-blue-800: #1e40af;
  --c-blue-900: #1e3a8a;
  --c-blue-950: #172554;

  --c-indigo-50:  #eef2ff;
  --c-indigo-100: #e0e7ff;
  --c-indigo-200: #c7d2fe;
  --c-indigo-300: #a5b4fc;
  --c-indigo-400: #818cf8;
  --c-indigo-500: #6366f1;
  --c-indigo-600: #4f46e5;
  --c-indigo-700: #4338ca;
  --c-indigo-800: #3730a3;
  --c-indigo-900: #312e81;
  --c-indigo-950: #1e1b4b;

  --c-violet-50:  #f5f3ff;
  --c-violet-100: #ede9fe;
  --c-violet-200: #ddd6fe;
  --c-violet-300: #c4b5fd;
  --c-violet-400: #a78bfa;
  --c-violet-500: #8b5cf6;
  --c-violet-600: #7c3aed;
  --c-violet-700: #6d28d9;
  --c-violet-800: #5b21b6;
  --c-violet-900: #4c1d95;
  --c-violet-950: #2e1065;

  --c-purple-50:  #faf5ff;
  --c-purple-100: #f3e8ff;
  --c-purple-200: #e9d5ff;
  --c-purple-300: #d8b4fe;
  --c-purple-400: #c084fc;
  --c-purple-500: #a855f7;
  --c-purple-600: #9333ea;
  --c-purple-700: #7e22ce;
  --c-purple-800: #6b21a8;
  --c-purple-900: #581c87;
  --c-purple-950: #3b0764;

  --c-fuchsia-50:  #fdf4ff;
  --c-fuchsia-100: #fae8ff;
  --c-fuchsia-200: #f5d0fe;
  --c-fuchsia-300: #f0abfc;
  --c-fuchsia-400: #e879f9;
  --c-fuchsia-500: #d946ef;
  --c-fuchsia-600: #c026d3;
  --c-fuchsia-700: #a21caf;
  --c-fuchsia-800: #86198f;
  --c-fuchsia-900: #701a75;
  --c-fuchsia-950: #4a044e;

  --c-pink-50:  #fdf2f8;
  --c-pink-100: #fce7f3;
  --c-pink-200: #fbcfe8;
  --c-pink-300: #f9a8d4;
  --c-pink-400: #f472b6;
  --c-pink-500: #ec4899;
  --c-pink-600: #db2777;
  --c-pink-700: #be185d;
  --c-pink-800: #9d174d;
  --c-pink-900: #831843;
  --c-pink-950: #500724;

  --c-rose-50:  #fff1f2;
  --c-rose-100: #ffe4e6;
  --c-rose-200: #fecdd3;
  --c-rose-300: #fda4af;
  --c-rose-400: #fb7185;
  --c-rose-500: #f43f5e;
  --c-rose-600: #e11d48;
  --c-rose-700: #be123c;
  --c-rose-800: #9f1239;
  --c-rose-900: #881337;
  --c-rose-950: #4c0519;
}